body {
  background-color: black;
  display: flex;
  height: 95vh; /*workaround*/
  justify-content: center;
  align-items: center;
}
h1 {
  color: aliceblue;
  text-align: center
}
.container {
  display: flex;
  flex-direction: column;
  background-color: gray;
  width: 80vh;
  height: 50vh;
}
.input-div {
  padding: 5%;
  padding-bottom: 0%;
  height: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
input {
  height: 50%;
  width: 80%;
  border-radius: 5px;
  border: 0;
}
label {
  font-size: larger;
}
button{
    height: 60px;
    width: 100px;
    background-color: lightgray;
    border-radius:10px ;
}

hr {
  width: 90%;
  border-color: black;
  margin-bottom: 0;
}
